<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="manifest" href="manifest.json" />

    <style>
        body {
            font-family: sans-serif;
            text-align: center;
        }

        #url {
            width: 100%;
            height: 5em;
        }

        #go {
            margin-top: 30px;
            width: 100%;
            height: 3em;
            background: white;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>PyCast</h1>
    <form>
        <input type="text" id="url" value="https://www.youtu.be/DxBGCyLWTEw"/><br/>
        <input type="button" id="go" value="Go!"/>
    </form>

    <script>
        function tryParse(url) {
            if (url == null) {
                return;
            }

            let youtubeShortMatch = url.match(/(https?:\/\/(www\.)?)?youtu\.be\/(?<id>[^?&#]+)/);
            if (youtubeShortMatch) {
                let id = youtubeShortMatch.groups.id

                window.location.replace(window.location.origin + "/youtube/" + id);
            }

            let youtubeMatch = url.match(/(https?:\/\/(www\.)?)?youtube\.com\/watch\?v=(?<id>[^?&#]+)/);
            if (youtubeMatch) {
                let id = youtubeMatch.groups.id

                window.location.replace(window.location.origin + "/youtube/" + id);
            }
        }

        document.getElementById("go").addEventListener("click", () => {
            tryParse(document.getElementById("url").value);
        });

        const url = new URL(document.location);
        const shareName = url.searchParams.get("name");
        const shareDescription = url.searchParams.get("description");
        const shareLink = url.searchParams.get("link");

        const checkUrls = [shareLink, shareDescription, shareName]
        for (urlToCheck of checkUrls) {
            tryParse(urlToCheck);
        }
    </script>
</body>
</html>